<p id="notice"><%= notice %></p>

<h1>Fileshares</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Keywords</th>
      <th>Description</th>
      <th>File</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fileshares.each do |fileshare| %>
      <tr>
        <td><%= fileshare.category %></td>
        <td><%= fileshare.title %></td>
        <td><%= fileshare.keywords %></td>
        <td><%= fileshare.description %></td>
        <td><%= fileshare.file %></td>
        <td><%= fileshare.image %></td>
        <td><%= link_to 'Show', fileshare %></td>
        <td><%= link_to 'Edit', edit_fileshare_path(fileshare) %></td>
        <td><%= link_to 'Destroy', fileshare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fileshare', new_fileshare_path %>
