<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @fileshare.all_categories%>
</p>

<p>
  <strong>Title:</strong>
  <%= @fileshare.title %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @fileshare.all_keywords%>
</p>

<p>
  <strong>Description:</strong>
  <%= @fileshare.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @fileshare.file %>
</p>

<p>
  <strong>Image:</strong>
  <%= @fileshare.image %>
</p>

<%= link_to 'Edit', edit_fileshare_path(@fileshare) %> |
<%= link_to 'Back', fileshares_path %>
